* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

body {
  max-width: 800px;
  margin: auto;
}

h1 {
  text-align: center;
  padding: 10px;
  font-size: 4em;
}
